#para1
{
    text-align:center;
    color:red;
}
.center {text-align:center;}

h1:first-letter{
    color:red;
}

li:first{
    color:green;
}

.aa > ul :first-child{
    color:blue;
}
/* ul > li{ */
/*     color:green; */
/* } */

p{
    word-spacing:20px;
}

/* bootstrap start */




/* bootstrap end */
